// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.cdnfonts.com/css/circular-std");

* {
    font-family: "Circular Std", sans-serif;
}

.width-container {
    width: 50%;
}

.form-group {
    padding: 10px 0;
    margin: 0;
}

.left-side-register {
    min-height: 100vh;
    background: rgb(247, 59, 93);
    background: radial-gradient(
        circle,
        rgba(247, 59, 93, 1) 0%,
        rgba(121, 55, 67, 1) 100%
    );
}

.btn-login-register {
    background-color: #d7526a !important;
    color: white !important;
}

.pink-color2 {
    color: #d7526a !important;
}

.form-control:focus {
    border-color: #d7526a !important;
    box-shadow: 0 0 0 0.2rem rgba(215, 82, 106, 0.5) !important;
}

@media only screen and (max-width: 1000px) {
    .left-side-register {
        padding: 10px;
    }

    .width-container {
        width: 100%;
    }
}

.cat {
    cursor: pointer;
}

.cat label {
    margin: 0;
    cursor: pointer;
}

.cat label span {
    text-align: center;
    padding: 5px 10px;
    display: block;
    cursor: pointer;
}

.cat label input {
    position: absolute;
    display: none;
    color: #fff !important;
}

.action input:checked + span {
    background-color: #ff385c;
    transition: 500ms;
    border-radius: 50rem;
    color: white;
}
