// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.cdnfonts.com/css/circular-std");

* {
    font-family: "Circular Std", sans-serif;
}

.width-container {
    width: 50%;
}

.form-group {
    padding: 10px 0;
    margin: 0;
}

.left-side-register {
    min-height: 100vh;
    background: rgb(247, 59, 93);
    background: radial-gradient(
        circle,
        rgba(247, 59, 93, 1) 0%,
        rgba(121, 55, 67, 1) 100%
    );
}

.btn-login-register {
    background-color: #d7526a !important;
    color: white !important;
}

.pink-color2 {
    color: #d7526a !important;
}

.form-control:focus {
    border-color: #d7526a !important;
    box-shadow: 0 0 0 0.2rem rgba(215, 82, 106, 0.5) !important;
}

.cat {
    cursor: pointer;
}

.cat label {
    margin: 0;
    cursor: pointer;
}

.cat label span {
    text-align: center;
    padding: 5px 10px;
    display: block;
    cursor: pointer;
}

.cat label input {
    position: absolute;
    display: none;
    color: #fff !important;
}

.action input:checked + span {
    background-color: #ff385c;
    transition: 500ms;
    border-radius: 30rem;
    color: white;
}

.dropdown-menu {
    .fa-solid {
        color: #d7526a;
        font-size: 0.75rem;
    }
}

.dropdown-toggle {
    border: 1px solid #d7526a !important;
}

.coverimg {
    aspect-ratio: 1/1;
    object-fit: cover;
    box-shadow: 7px 7px 21px -4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 7px 7px 21px -4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 7px 7px 21px -4px rgba(0, 0, 0, 0.55);
}

.apartment-card {
    background: transparent !important;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.apartment-card:hover {
    text-decoration: none;
    color: black;
}

.apartment-card:hover .coverimg {
    filter: blur(1px) brightness(0.7) contrast(0.9) grayscale(0.12);
    transition: 300ms;
}

.card-relative {
    position: relative;
}

.fa-eye {
    display: none;
    color: #ff385c;
    position: absolute;
    opacity: 0;
    font-size: 2rem;
}

.apartment-card:hover .fa-eye {
    display: block;
    opacity: 1;
    transition: 300ms;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-element {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.apartment-card:hover .card-element {
    text-shadow: 1px 1px 1px rgba(255, 56, 92, 0.35);
}

// NAV BAR BACKEND -----------------------------------------------------------------

.logo-cont {
    img {
        width: 150px;
    }
}

.container-nav {
    // padding: 2rem;
    position: fixed;
    top: 0;
    height: 62.66px;
    box-shadow: 1px 7px 42px -3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 7px 42px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 7px 42px -3px rgba(0, 0, 0, 0.3);
}

.form-control:focus {
    border-color: #d7526a !important;
    box-shadow: 0 0 0 0.2rem rgba(215, 82, 106, 0.5) !important;
}

.btn-login-register {
    background-color: #d7526a !important;
    color: white !important;
}

.search-border-pink {
    border: 2px solid #d7526a !important;
}

.navbar-80 {
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
    .logo-cont {
        display: none;
    }

    .dropdown {
        display: none;
    }
}

//----------------------------------------------------------------------------------

.sidebar-container {
    background-color: white;
    border: 1px solid #d7526a;
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.75);
}

.sidebar-height {
    z-index: 99;
    position: fixed!important;
    top: 0;
    height: 100vh!important;
}

.side-ico {
    font-size: 1.4rem;
    color: black !important;
}

.side-btn {
    width: 100%;
    padding: 10px !important;
}

.side-btn:hover {
    -webkit-box-shadow: 20px 20px 25px -18px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 20px 20px 25px -18px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 20px 20px 25px -18px rgba(0, 0, 0, 0.75) !important;
    transition: 300ms;
}

.z-index-nav {
    z-index: 9999;
    background-color: white;
}

.right-section {
    margin-left: 6rem;
    margin-top: 62.66px;
}

.dash-container {
    height: calc(100vh - 80px);
    margin-top: 80px;
    padding: 20px 0;
}

.btn-custom {
    color: #fff;
    background-color: #d7526a;
    padding: 0.8rem 0.8rem;
    border: solid #d7526a 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50px 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-custom:hover {
    transition: 1000ms;
    // padding: 1rem 1rem;
    // transform: translateY(-0px);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #fff;
    color: #d7526a;
}

// file input

.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 0px 2px;
    background-color: #d7526a;
}

.file-input__label svg {
    height: 1.1rem;
}

.container-minus-nav{
    height: calc(100vh - 62.66px)!important;
    margin-top: 62.66px!important;
}

.sidebar-height-mobile{
    display: none;
}

.sidebar-container-mobile{
        display: none;
        background-color: white;
        width: 100%;
        border: 1px solid #d7526a;
        -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.75);
}

.accordion-button:not(.collapsed) {
    color: black!important;
    background-color: rgba(247, 59, 93, 0.5)!important;
    border-color: #d7526a !important;
    box-shadow: 0 0 0 0.2rem rgba(215, 82, 106, 0.5) !important;
    // box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

@media only screen and (max-width: 991px) {
    .left-side-register {
        padding: 10px;
    }

    .width-container {
        width: 100%;
    }

    .sidebar-height {
        display: none!important;
    }

    .sidebar-container{
        display: none!important;
    }
    .sidebar-container-mobile{
        display: block!important;
    }
    .right-section{
        margin-left: 0;
    }
    .sidebar-height-mobile{
        display: block!important;
        position: fixed!important;
        bottom: 0;
    }
    
}

@media screen and (max-width: 1300px) and (min-width: 992px) {


  
}

