

@import url('https://fonts.cdnfonts.com/css/circular-std');

* {
  font-family: 'Circular Std', sans-serif;
}





.left-side-register {
  background-image: linear-gradient(to left top, #ff385c, #f73b5d, #ef3e5d, #e7405e, #df425e, #dc4862, #da4e67, #d7536b, #d95e75, #da687e, #db7287, #dc7c90);

  height: 100vh;
}

main {
height: 100vh;
}
